{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent()}}
	- Connexion
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
	<main class="container-fluid my-4">
		<div class="custom-width position-relative text-center">

			{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div class="">
			{% include 'components/svg/smartphone.svg' %}
			</div>
			<div class="custom-login">
				<svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" color="#F2F2F2" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
					<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
					<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
				</svg>

				<form action="{{ path('app_login') }}" method="post" class="col-12 m-auto d-flex flex-column gap-1 mt-5">
					<div class="mb-3 text-start">
						<label for="username" class="form-label fw-bold custom-text-size text-tertiary">Email</label>
						<input type="text" class="form-control border-0 bg-light" id="username" name="_username" value="{{ last_username }}">
					</div>

					<div class="pb-3 text-start">
						<label for="password" class="form-label fw-bold custom-text-size text-tertiary">Mot de passe</label>
						<input type="password" class="form-control border-0 bg-light" id="password" name="_password">
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="d-flex flex-column justify-content-center align-items-center m-auto">
						<button type="submit" class="btn my-5 text-light bg-secondary rounded-pill fw-bold custom-text-size px-3">CONNEXION</button>
					</div>
				</form>
			</div>
		</div>
	</main>
{% endblock %}