{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent()}}
	- Connexion
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('identify') }}
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<div class="row mt-4">
			<div class="d-flex justify-content-center align-items-center">
				<div class="col-xl-6">
					<div class="main-container bg-light rounded-3 p-4">

						<div class="container-title mb-4">
							<h1 class="fw-bold text-tertiary d-flex justify-content-center align-items-center gap-3">
								{% include 'components/svg/icon_loupe.svg' %}
								Identifier votre Smartphone</h1>
						</div>

						<div class="">
							{{ component('formIdentify') }}
							{# 
																												<form action="{{ path('smartphone_identify') }}" method="post" class="d-flex flex-column gap-2 mt-5 m-xl-5 p-4 m-auto">
																													<div class="mb-4 text-start">
																														<label for="searchTxt" class="form-label fw-bold custom-text-size text-tertiary">IMEI (International Mobile Equipment Identity)</label>
																														<br>
																														<label for="searchTxt" class="form-label fw-bold custom-text-size text-tertiary">Marque du téléphone</label>
																														<input type="text" class="form-control bg-light" id="searchTxt" name="searchTxt" value="">
																													</div>
																					
																													<div class="mb-4 text-start">
																														<label for="modelTxt" class="form-label fw-bold custom-text-size text-tertiary">Modèle du smatphone</label>
																														<input type="text" class="form-control bg-light" id="modelTxt" name="modelTxt" value="">
																													</div>
																												</form> 
																												#}
						</div>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}