{% extends 'visitor.html.twig' %}

{% block title %}
	Mon stock -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('stock') }}
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-end align-self-end mb-4 px-4">
					<a role="button" class="btn mt-4 icon-link icon-link-hover" href="{{ path('smartphone_identify') }}">
						{{ include('/components/svg/add-phone.svg') }}
						AJOUTER</a>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-bordered border-secondary">
					<thead class="sticky-top">
						<tr class="py-4">
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">DATE DÉPOT</th>
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">MARQUE</th>
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">MODÈLE</th>
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">DÉPOT</th>
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">RAM</th>
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">CAPACITÉ</th>
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">PONDÉRATION</th>
							{# <th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">CATÉGORIE</th> #}
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">CO2</th>
							<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">PRIX</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{% if smartphones|length > 0 %}
							{% for smartphone in smartphones %}
								<tr>
									<td class="px-4 align-middle align-center text-center">{{ smartphone.estimateAt ? smartphone.estimateAt|date('d/m/Y H:i') : '' }}</td>
									<td class="px-4 align-middle">{{ smartphone.model.brand.name }}</td>
									<td class="px-4 align-middle">{{ smartphone.model.name }}</td>
									<td class="px-4 align-middle">{{ smartphone.operator.centerName }}</td>
									<td class="px-4 align-middle">{{ smartphone.ramNumber }}</td>
									<td class="px-4 align-middle">{{ smartphone.stockageNumber }}</td>
									<td class="px-4 align-middle">
										{% if smartphone.ponderation > 0 %}
											<span class="badge p-2 m-2 rounded-pill text-bg-success">{{ smartphone.ponderation }}</span>
										{% else %}
											<span class="badge p-2 m-2 rounded-pill text-bg-danger">{{ smartphone.ponderation }}</span>
										{% endif %}
									</td>
									{# <td class="px-4 align-middle">{{ smartphone.getCategorie }}</td> #}
									<td class="px-4 align-middle">{{ smartphone.calculatePrice }}</td>
									<td class="px-4 align-middle">{{ smartphone.rateCo2 }}</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="10">Aucun enregistrement trouvé...</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}